In [1]:
import pandas as pd
import os

In [2]:
basedir = '/mnt/c/MinION16S_analysis/'
sample_name = 'Hare_1'

In [3]:
input_folder = os.path.join(basedir, 'input')
output_folder = os.path.join(basedir, 'output')
taxa_file_path = os.path.join(input_folder, 'taxa_%s.csv' % sample_name)
QC_file_path = os.path.join(input_folder, 'QC_%s.csv' % sample_name)

In [4]:
taxa_df = pd.read_csv(taxa_file_path, sep=',')
QC_df = pd.read_csv(QC_file_path, sep = ',')

In [5]:
taxa_df.drop(columns=['filename', 'runid', 'barcode', 'lca'], inplace=True)

In [6]:
QC_df.drop(columns=['filename', 'barcode', 'run_id', 'start_time'], inplace=True)

In [7]:
QC_df.head()

,read_id,exit_status,seqlen,mean_qscore
0,d68ffc2a-fb1a-4a7b-9efc-fd2f3818a9b4,Basecall failed qscore filter,1509,5.158
1,265312b1-01ea-4583-b1ac-9c2db9307aa3,Basecall failed qscore filter,1845,4.779
2,0c6a050f-a3a2-45d7-911a-2c2f9638a2d3,Basecall failed qscore filter,199,6.277
3,60a454e5-9916-4cd3-9608-d370c9a17017,Basecall failed qscore filter,1644,4.748
4,88cf53bd-9953-4d35-bad1-c29762060b98,Basecall failed qscore filter,475,5.375

In [8]:
taxa_df.head()

,read_id,exit_status,taxid,accuracy
0,003a56bb-4ec8-46de-b27c-c4f84b92490f,Classification successful,541000,82.35
1,00523973-dc9e-4a75-8b1d-0b3b3d7e412b,Classification successful,2,82.96
2,009a72ba-a56b-4ecf-bb03-5a59a00551f9,Classification successful,1490,95.56
3,00da588c-259d-4cfe-8c22-d7463ebdb540,Classification successful,1490,91.14
4,0110c200-e72b-4c78-986e-67ade768d439,Classification successful,29369,96.20

In [9]:
QC_df_filtered_readid = QC_df[QC_df.read_id.isin(taxa_df.read_id) == True]

In [10]:
final_df = pd.merge(QC_df_filtered_readid, taxa_df, how='outer', left_on='read_id', right_on='read_id')

In [11]:
# filtere out exit status x column
final_df_QC1 = final_df[final_df.exit_status_x=='Workflow successful']

In [12]:
final_df_QC1

Empty DataFrame
Columns: [exit_status_x, seqlen, mean_qscore, read_id, exit_status_y, taxid, accuracy]
Index: []